$grey-base: hsla(210, 4%, 20%, 1);
$grey-shadow-dark: hsla(0, 0%, 0%, 0.4);
$grey-shadow-light: hsla(0, 0%, 29%, 0.6);

$grey-primary: hsl(260, 9%, 87%);
$grey-secondary: hsla(270, 7%, 95%, 0.55);

$green-light: hsl(130, 91%, 50%);
$green-dark: hsl(144, 88%, 30%);

$blue-light: hsl(198, 98%, 48%);
$blue-dark: hsl(198, 94%, 36%);

$red-light: hsl(0, 92%, 52%);
$red-dark: hsl(0, 83%, 45%);
