@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
	margin: 0rem;
	padding: 0rem;
	box-sizing: border-box;
	font-size: 62.5%;
}

html {
	height: 100%;
	width: 100%;
}

body {
	font-family: "Nunito Sans";
	background-color: $grey-base;

	overflow: hidden;

	height: 100%;
	width: 100%;
}

::-webkit-scrollbar {
	width: 0.4rem;
}

::-webkit-scrollbar-track {
	background: $grey-base;
}

::-webkit-scrollbar-thumb {
	background: $grey-shadow-light;
}
::-webkit-scrollbar-thumb:hover {
	background: $grey-shadow-dark;
}

.app {
	position: relative;
}

.todo {
	&--container {
		overflow: hidden;

		height: 80vh;
		margin-top: 1rem;
		background: $grey-base;
	}

	&--list {
		overflow-y: scroll;
		padding: 2rem 4rem;

		height: 100%;
		padding-bottom: 2rem;
		list-style-type: none;
	}

	&--item {
		padding: 3rem;
		margin-bottom: 2.4rem;
		background: $grey-base;

		user-select: none;

		// prettier-ignore
		box-shadow: 
		9px 9px 16px $grey-shadow-dark, 
		-9px -9px 16px $grey-shadow-light;

		border-radius: 1rem;

		&-inner {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}

		&-checkbox {
			flex: 2;
		}

		&-text {
			flex: 7;
		}

		&-options {
			span {
				content: url("../assets/delete.svg");
				cursor: pointer;
			}
		}
	}
}

// * Checkbox Styling
.item {
	&--checkbox {
		position: absolute;
		left: -9999px;
	}

	&--checkbox + label {
		overflow: hidden;

		display: flex;
		justify-content: center;
		align-items: center;

		width: 40px;
		height: 40px;

		border-radius: 1rem;
		background-color: $grey-base;
		// prettier-ignore
		box-shadow: 
		-2px -2px 5px $grey-shadow-light,
		 2px  2px 5px $grey-shadow-dark;

		cursor: pointer;

		span {
			visibility: hidden;
			width: 66%;
			height: 66%;

			background-image: url("../assets/check.svg");
			background-size: 90%;
			background-position: center;
			background-repeat: no-repeat;

			// width: 100%;
			// height: 100%;

			// background-image: linear-gradient(135deg, $green-light 0%, $green-dark 100%);
			// border-radius: 0.64rem;
		}
	}
	&--checkbox:checked + label {
		// prettier-ignore
		box-shadow: 
		inset -2px -2px 5px $grey-shadow-light,
		inset  2px  2px 5px $grey-shadow-dark;

		span.checked {
			visibility: visible;
		}
	}
}

// Add Item

.addItem {
	&--container {
		padding: 1rem 4rem;
	}
}
