h2 {
	font-size: 2.8rem;
	color: $grey-primary;
	text-align: center;

	&.headline {
		padding-top: 8rem;
	}
}

h3 {
	font-size: 1.6rem;
	font-weight: 600;
	color: $grey-primary;
}

p {
	font-size: 1.2rem;
	font-weight: 300;
	color: $grey-secondary;

	span {
		font-size: inherit;
		font-weight: 400;
		color: hsla(47, 97%, 46%, 1);
	}
}

label {
	font-size: 1.4rem;
	font-weight: 600;
	color: $grey-primary;
}
